# Section 1
The City of Baltimore maintains a database of parking citations issued within the city. More information about the dataset can be found here. You can download the dataset as a CSV file here. Unless stated otherwise, you should only consider citations written before January 1, 2019.

### Data cleaning and prep

In [69]:
import pandas as pd
import numpy as np
from datetime import datetime

In [70]:
# initial read of file, forcing dtypes
data = 'Parking_Citations.csv'
cols_keep = ['Citation', 'Make', 'ViolFine', 'ViolDate','OpenPenalty', 'PoliceDistrict']
cols_types = ['int64', 'str', 'float64', 'str', 'float64', 'str']
df = pd.read_csv(data, usecols=cols_keep, dtype=dict(zip(cols_keep, cols_types)))
# df = pd.read_csv(data, usecols=cols_keep, dtype=dict(zip(cols_keep, cols_types)), parse_dates=['ViolDate'])
df.head()

,Citation,Make,ViolFine,ViolDate,OpenPenalty,PoliceDistrict
0,82691651,MAZD,40.0,04/12/2018 05:36:00 PM,0.0,NaN
1,85937226,ACUR,40.0,12/20/2018 12:09:00 PM,0.0,NaN
2,82691115,TOYT,40.0,04/12/2018 05:14:00 PM,0.0,NaN
3,82694689,FORD,40.0,04/12/2018 07:14:00 PM,0.0,NaN
4,82691214,SUBA,40.0,04/12/2018 05:20:00 PM,0.0,NaN

In [71]:
# converting ViolDate column into python date time
df.ViolDate = pd.to_datetime(df.ViolDate, format='%m/%d/%Y %I:%M:%S %p', infer_datetime_format=True)
df.dtypes

Citation                   int64
Make                      object
ViolFine                 float64
ViolDate          datetime64[ns]
OpenPenalty              float64
PoliceDistrict            object
dtype: object

### Q1. For all citations, what is the mean violation fine?

In [72]:
mean_vio_fine = df.ViolFine.mean()
print(round(mean_vio_fine,10))

49.8959492313

### Q2. Find the police district that has the highest mean violation fine. What is that mean violation fine? Keep in mind that Baltimore is divided into nine police districts, so clean the data accordingly.

In [73]:
# find unique values in district column:
districts = df.PoliceDistrict.unique()
print(districts)

[nan 'Eastern' 'Western' 'Northern' 'Central' 'Southeastern' 'Notheastern'
 'Northwestern' 'NORTHERN' 'Southern' 'SOUTHERN' 'Southwestern'
 'SOUTHWESTERN' 'SOUTHEASTERN' 'CENTRAL' 'WESTERN' 'EASTERN'
 'NORTHWESTERN' 'NORTHEASTERN']

In [74]:
# replace 'Notheastern' with 'Northeastern'
df.PoliceDistrict = df.PoliceDistrict.replace('Notheastern', 'NORTHEASTERN')

In [75]:
# group df by lowercased district name and find mean violation find
pd.set_option('display.precision',10)
dist_gp = df.groupby(df['PoliceDistrict'].str.lower())
dist_gp.mean().sort_values(by=['ViolFine'])

                        Citation       ViolFine    OpenPenalty
PoliceDistrict
central         7.3842492001e+07  44.8028723651  38.5895606517
northern        7.6267226602e+07  48.1452263091  32.2822440838
southeastern    7.4997810382e+07  48.7509418860  28.7512592981
eastern         7.4697449202e+07  50.8005944339  64.4070971809
western         7.2524726431e+07  53.4737451941  67.4415652815
southern        7.7515468806e+07  54.3874258100  30.1075633250
southwestern    7.2115918031e+07  58.2980085349  56.8853129445
northwestern    7.0819505604e+07  59.7556851742  57.0510189014
northeastern    7.3509503138e+07  61.3523935667  48.3817218543

### Q3. First, find the total number of citations given in each year between 2004 and 2014 (inclusive). Next, using linear regression, create a function that plots the total number of citations as a function of the year. If you were to plot a line using this function, what would be the slope of that line?